.cart-page {
    width: 100%;
    margin: auto;
    padding: 1.2rem 1.2rem 7rem 1.2rem;
    height: 100%;
    background-color: rgba(196, 161, 128, 0.219);
}

.cart-list {
    margin-top: 2rem;
    padding: 0rem 1rem;
    background: #fff;
    color: #333;
}

.cart-list .close{
    display: block;
    padding: 5px 8px;
    cursor: pointer;
}

/* .cart-name {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */

  .num-input {
    border: 2px solid rgb(212, 210, 210);
    border-radius: 0;
    width: 100px;
    font-size: 14px;
  }

  .price {
    font-weight: 600;
  }
  
  .sum-price {
    font-weight: 600;
    color: #333;
  }

  .sum-price td {
    vertical-align: middle;
  }

  /* .no-cart {
    padding: 1.5rem;
    background: #fff;
    text-align: center;
    margin-top: 1.5rem;
  } */

  .cart-total {
    margin-top: 1.5rem;
    text-align: right;
    color: #333;
  }

  .total-price {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(63, 43, 43);
  }

  .cart-item-enter {
    opacity: 0.1;
    transition: all 0.3s ease-in;
  }

  .cart-item-enter.cart-item-enter-active {
    opacity: 1;
  }

  .cart-item-exit {
    opacity: 1;
    transition: all 0.3s ease-in;
  }

  .cart-item-exit.cart-item-exit-active {
    opacity: 0.1;
  }

  .cart-check{
    font-size: 18px;
    background: rgba(214, 188, 130, 0.795);
    border-radius: 10px;
    padding: 5px;
    position: fixed;
    right: 20px;
    margin-top: 8px;
    width: 100px;
    }


